In [167]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [239]:
import numpy as np
import pandas as pd
import datetime as dt
from scipy import stats

# Reflect Tables into SQLAlchemy ORM

In [169]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import cast, Date

In [170]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [171]:
# reflect an existing database into a new model

Base = automap_base()
Base.prepare(engine, reflect=True)

In [172]:
# View all of the classes that automap found
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [173]:
# Save references to each table

Measurements = Base.classes.measurement
Stations = Base.classes.station

In [174]:
# View columns in Measurements
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [175]:
# View columns in Stations
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [176]:
# Create our session (link) from Python to the DB

session = Session(engine)

# Exploratory Precipitation Analysis

In [177]:
# Find the most recent date in the data set.

most_recent_date = session.query(Measurements).order_by(Measurements.date.desc()).first()

print(f"Most recent date in the data set is {most_recent_date.date}")

Most recent date in the data set is 2017-08-23

In [264]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

# Starting from the most recent data point in the database. 
# Calculate the date one year from the last date in data set.
# Save the query results as a Pandas DataFrame and set the index to the date column

stmt = session.query(Measurements.date, Measurements.prcp).\
    filter(Measurements.date > '2016-08-23').order_by(Measurements.date.desc()).statement

precipitation_df = pd.read_sql_query(stmt, session.bind)

precipitation_df.head(10)

average_prcp_df = precipitation_df.groupby(['date']).mean()

average_prcp_df['prcp'] = average_prcp_df['prcp'].map('{:,.2f}'.format)

average_prcp_df.index.names = ['Date']
#average_prcp_df.set_index('Date')
average_prcp_df = average_prcp_df.rename(columns={'prcp': 'Precipitation in CM'})


average_prcp_df

# Use Pandas Plotting with Matplotlib to plot the data

           Precipitation in CM
Date
2016-08-24                1.55
2016-08-25                0.08
2016-08-26                0.02
2016-08-27                0.06
2016-08-28                0.52
...                        ...
2017-08-19                0.03
2017-08-20                0.01
2017-08-21                0.19
2017-08-22                0.17
2017-08-23                0.13

[365 rows x 1 columns]

In [278]:
# Use Pandas to calcualte the summary statistics for the precipitation data

#average_prcp_df.describe()

precipitation_df.describe()

              prcp
count  2015.000000
mean      0.176462
std       0.460288
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()