# Bonus: Temperature Analysis I

In [92]:
#Import dependencies
import pandas as pd
from datetime import datetime as dt
import scipy.stats as stats

In [29]:
# Create dataframe
climate_data_df = pd.read_csv('Resources/hawaii_measurements.csv').\
    rename(columns={'station' : 'Station Name', 
                    'date' : 'Date', 
                    'prcp' : 'Precipitation in CM',
                    'tobs' : 'Temp Obs in F'})
climate_data_df.head()

  Station Name        Date  Precipitation in CM  Temp Obs in F
0  USC00519397  2010-01-01                 0.08             65
1  USC00519397  2010-01-02                 0.00             63
2  USC00519397  2010-01-03                 0.00             74
3  USC00519397  2010-01-04                 0.00             76
4  USC00519397  2010-01-06                  NaN             73

In [32]:
# Convert the date column format from string to datetime

climate_data_df['Date'] = pd.to_datetime(climate_data_df['Date'])

climate_data_df['Date']

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: Date, Length: 19550, dtype: datetime64[ns]

In [33]:
# Set the date column as the DataFrame index
climate_data_df.set_index('Date', inplace=True)
climate_data_df.head()

           Station Name  Precipitation in CM  Temp Obs in F
Date
2010-01-01  USC00519397                 0.08             65
2010-01-02  USC00519397                 0.00             63
2010-01-03  USC00519397                 0.00             74
2010-01-04  USC00519397                 0.00             76
2010-01-06  USC00519397                  NaN             73

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [55]:
# Filter data for desired months
june_dec_df = climate_data_df.loc[(climate_data_df.index.month == 6) | (climate_data_df.index.month == 12)]
june_dec_df

           Station Name  Precipitation in CM  Temp Obs in F
Date
2010-06-01  USC00519397                 0.00             78
2010-06-02  USC00519397                 0.01             76
2010-06-03  USC00519397                 0.00             78
2010-06-04  USC00519397                 0.00             76
2010-06-05  USC00519397                 0.00             77
...                 ...                  ...            ...
2017-06-26  USC00516128                 0.02             79
2017-06-27  USC00516128                 0.10             74
2017-06-28  USC00516128                 0.02             74
2017-06-29  USC00516128                 0.04             76
2017-06-30  USC00516128                 0.20             75

[3217 rows x 3 columns]

In [89]:
# Identify the average temperature for June

temps_june = june_dec_df.loc[june_dec_df.index.month == 6]
avg_temp_june = round(temps_june['Temp Obs in F'].mean(), 1)

print(f"Average temperature for June is {avg_temp_june}")

Average temperature for June is 74.9

In [90]:
# Identify the average temperature for December

temps_dec = june_dec_df.loc[june_dec_df.index.month == 12]
avg_temp_dec = round(temps_dec['Temp Obs in F'].mean(), 1)

print(f"Average temperature for December is {avg_temp_dec}")

Average temperature for December is 71.0

In [120]:
# Get June and December data into lists for a t-test

temps_jun_list = temps_june['Temp Obs in F'].tolist()
temps_dec_list = temps_dec['Temp Obs in F'].tolist()

In [122]:
# Run unpaired t-test. NOTE I tried an unpaired (independent) 
# t-test because these are two different months of the year, and they have different length data sets. 

stats.ttest_ind(temps_jun_list, temps_dec_list)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The p value of the unpaired t-test is well under .05, meaning that the difference between temperatures in June and December has statistical significance.